.title {
  margin: 0;
  font-weight: 600;
  color: #111827;
}

.title-1 {
  font-size: 2rem;
  line-height: 1.2;
}

.title-2 {
  font-size: 1.5rem;
  line-height: 1.3;
}

.title-3 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.title-4 {
  font-size: 1.125rem;
  line-height: 1.5;
}

.title-5 {
  font-size: 1rem;
  line-height: 1.5;
}

.title-6 {
  font-size: 0.875rem;
  line-height: 1.5;
}

